<div class="flip-container" (click)="flip()" [class.flipped]="flipped">
 
    <div class="flipper">
 
        <div class="front"  style="background: radial-gradient(#434242, #202020); height: 90vh; display: inline-block">
            <ng-content select=".flash-card-front" ></ng-content>
        </div>
 
        <div class="back" style=" background: radial-gradient(#434242, #202020); height: 90vh; display: inline-block ">
            <ng-content select=".flash-card-back" ></ng-content>
        </div>
 
    </div>
 
</div>